.headerContainer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
    height: 5.6rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    z-index: 1;
}

.logo
{
    height: 4rem;
}

.firstname
{
    padding: 20px 0;
    color: #333333;
    font-weight: 700;
}


.headerWrapper
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.title
{
    margin-left: 40px;
}

.title>h2
{
    color: rgb(0, 0, 0);;
}

.title>p
{
    color: rgb(0, 0, 0);;
}

.title>h2>span
{
    color:rgb(9, 112, 72);
}

.profile
{
    position: absolute;
    right:20px;
}

.image{
    width: 40px;
    height:40px;
    border-radius: 50%;
    cursor: pointer;
}